<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <section class="container">
    <h1>Fights to see</h1>
<ul class="fightList">
    <% for(let i=0; i < items.length; i++) {%>
    <li class="fightEntry">
        <span class="fighter1Name"><%= items[i].Fighter1 %></span>
        <span class="versus"> VS </span>
        <span class="fighter2Name"><%= items[i].Fighter2 %></span>
        <span class="for"><%= items[i].for %></span>
        <span class="fa fa-arrow-up"></span>
        <span class="against"><%= items[i].against %></span>
        <span class="fa fa-arrow-down"></span>
        <span class="fa fa-trash"></span>

    </li>
    <% } %>
</ul>


<form action="/addFight" method="POST">
    <input type="text" placeholder="FighterA" name="Fighter1">
    <span>VS</span>
    <input type="text" placeholder="FighterB" name="Fighter2">
    <input type="submit">
</form>
</section>
<script src='main.js'></script>
</body>
</html>